In [ ]:
num1 = 42
num2 = -2.3
num3 = 'tryr'

# print('num1' ,type(num1))
# print('num2' ,type(num2))
# print('num3' ,type(num3))

num = num1 + num2
print(num)

39.7

In [21]:
PI = 3.4754784774758454574584754585488374
small_float = -0.001
exp_float = 9.4e54754784774758454574584754585488374

print (type(PI))
print (type(small_float))
print (type(exp_float))

<class 'float'>
<class 'float'>
<class 'float'>

In [23]:
greeting = "Hello, Python!"
quote = 'Hay How are you.'
multiline_string = """This is a 
multiline string """

print(type(greeting))
print(type(quote))
print(type(multiline_string))

<class 'str'>
<class 'str'>
<class 'str'>

In [24]:
print(greeting[0], greeting[0:5])

H Hello

In [25]:
age = 32

print(f"My Age is {age}")

My Age is 32

In [35]:
# list_1 = [1,2,3,4,5,6,7,8,9,10]
# list_1 = []
list_1 = [1,"2", 3, 4.6 , 5 + 6 , 7*9 , 8 - 9 , 10]

print(type(list_1))
print(list_1[-2])

<class 'list'>
-1

In [54]:
numbers = [1,2,3,4,5]
numbers.append(6)
numbers.insert(0,0)
numbers.pop(1)
numbers.remove(2)


print(numbers)

[0, 3, 4, 5, 6]

In [67]:
empty_tuple = ()

single_tuple = (21,)
multiple_tuple  = (21, 22,23,24,25)
mixed_tuple = ("Basit" , 21 , 21.344, True)


print(type(empty_tuple))
print(type(single_tuple))
print(type(multiple_tuple))
print(type(mixed_tuple))


first_item = multiple_tuple[0]
print(first_item)


sub_tuple = multiple_tuple[1:]
print(sub_tuple)

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
21
(22, 23, 24, 25)

In [70]:
try:
    single_tuple[0] = 12
except TypeError as e:
    print(e)

'tuple' object does not support item assignment

In [71]:
person_table = ("Abdul Rafay Malik", 25 , "Class 12")

In [72]:
name, age, class_ = person_table

In [73]:
print(name)

Abdul Rafay Malik

In [74]:
class_ = 4

In [75]:
print(person_table)

('Abdul Rafay Malik', 25, 'Class 12')

In [87]:
empty_dict = {"name": 'rafay'}
person_disct = {"Name" : "Malik Abdul Rafay", "Class": 12, "Age": 12}
person2_dict = {"Rafay", "malik"}

print(type(empty_dict))

<class 'dict'>

In [99]:
another_dict = dict(nameh="Rafay Malik", age=12)

print(type(another_dict))

<class 'dict'>

In [101]:
# print(another_dict['name'])
print(another_dict.get('name'))

None

In [109]:
empty_set = set()
print(type(empty_set))


number_set = {1,2,3,4,5}
print(type(number_set))

<class 'set'>
<class 'set'>